@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;

}

#container {
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background-color: #14213d;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

h1 {
  background-color: #fca311;
  color: #264653;
  margin: 0;
  padding: 10px 100px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#nav-bar {
  margin: 0;
  background-color: #14213d;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

span {
  color: #fca311;
}

p {
  text-align: center;
  color: #fca311;
}

form input[type="text"] {
  width=90px;
}

input {
  padding-left: 20px;
}

#billamt {
  font-size: 14px;
  background-color: #f7f7f7;
  width: 60%;
  padding: 5px 5px 8px 8px;
}

#billamt:focus {
  background-color: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

#peopleamt {
  width: 60%;
  padding: 5px 5px 8px 8px;
  margin-left: 20px;
  color: black;
  background-color: #f7f7f7;
  font-size: 14px;
}

.dollarSign {
  display: inline;
}

#serviceQual {
  padding: 13px 13px 20px 20px;
  margin-left: 20px;
  font-size: 25px;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background-color: #fca311;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: #264653;
}

button:hover {
  background-color: #fb8500;
  border-bottom-color: #111;
  color: #264653;

}

button:active {
  position: relative;
  top: 1px;
}

#totalTip {
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
  color: white;
}

#totalTip:before {
  content: "Tip amount";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#totalTip sup {
  font-size: 20px;
  top: -18px;
}

#totalTip small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}